apiVersion: v1
kind: Service
metadata:
  name: mongo
  labels:
    app: mongo
    tier: database
spec:
  type: clusterIP 
  ports:
    - port: 27017
      targetPort: 27017
  clusterIP: None
  selector:
    app: mongo